<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.yumemi.android.code_check">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:name="jp.co.yumemi.android.code_check.SearchApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidEngineerCodeCheck"
        android:fullBackupContent="@xml/backup_descriptor">

    </application>

</manifest>